/*  
==========================================================
- Theme Style
==========================================================
*/

/* Main Menu Style */
.navbar-toggler {
    border: 1px solid rgba(0,0,0,0.09);
}
.webalive-navbar {
    position: relative;
    width: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    min-height:80px;
    background: transparent;
}
.webalive-menu-wrap {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.webalive-navbar-brand {
    max-width: 200px;
}
.webalive-main-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
.webalive-main-menu li {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    z-index: 100;
}
.webalive-main-menu li a {
    display: block;
    padding: 20px 15px;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    color:#353535;
}
.webalive-main-menu li a:hover {
    color:#615EFC;
}
.webalive-main-menu li > .sub-menu {
    display: none;
    position: absolute;
    top: 64px;
    left: 0px;
    z-index: 10;
    padding: 0px;
    margin: 0px;
    width: 225px;
    background: #f1f1f1;
}
.webalive-main-menu li > .sub-menu li {
    display: block;
    position: relative;
    z-index: 0;
}
.webalive-main-menu li > .sub-menu li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    line-height: 1.5;
    border-bottom: 1px solid rgba(255,255,255, 0.7);
}
.webalive-main-menu li > .sub-menu li ul.sub-menu {
    display: block;
    position: absolute;
    width: 225px;
    left: 100%;
    top: 0%;
    z-index: 1;
    list-style: none;
    padding: 0px;
    margin: 0px;
    background-color: #f1f1f1;
}
.open {
    display: block !important;
}
.hide {
    display: none !important;
}
.fixed-to-top {
    position:relative;
    top: 0;
    left: 0;
    z-index: 100000;
    /* transition: all 0.3s ease-in-out; */
}
.webalive-main-menu .menu-item-has-children {
    padding-right: 10px;
}
.webalive-main-menu > .menu-item-has-children:after {
    content: "\f078";
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 12px;
    line-height: 1;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 10px;
}
.webalive-main-menu > .menu-item-has-children:hover::after {
    content: "\f077";
}
.webalive-main-menu > li ul.sub-menu .menu-item-has-children:after {
    content: "\f054";
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 12px;
    line-height: 1;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 10px;
}
.webalive-main-menu > li ul.sub-menu .menu-item-has-children:hover::after {
    content: "\f053";
}
.webalive-main-menu > li ul.sub-menu li.menu-item-has-children:after {
    right: 10px;
}
.webalive-navbar-toggler,
.webalive-main-menu li .mb-toggle {
    display: none;
}
.mb-toggle .dashicons {
    margin: 50%;
    transform: translate(-50%, -50%);
}
.current-menu-item > a {
    color: #222;
    font-weight: 500;
}
/* Portrait and Landscape */
@media only screen
and (max-width: 1080px) {
    .webalive-navbar {
        
    }
	.webalive-main-menu .get-in-touchbtn a {
       border: 2px solid #fff;
       color: #fff !important;
       padding: 7px 18px !important;
       margin: 20px 20px;
       display: inline-block;
   }
    .webalive-navbar .container {
        padding: 0;
    }
    .webalive-brand-wrap {
        padding: 0 15px;
    }
    a.webalive-navbar-brand {
        font-weight: 600;
    }
    a.webalive-navbar-brand,
    a.webalive-navbar-brand:visited,
    .webalive-navbar-toggler {
        color: #fff
    }
    .webalive-brand-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        border-bottom: 1px solid rgba(255,255,255, 0.7);
    }
    .webalive-navbar-toggler {
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .webalive-main-menu {
        display: none;
        width: 100%;
        padding: 0 0px;
        background: #ff424a;
		position: absolute;
        top: 80px;
    }
    .webalive-main-menu > li {
        display: block;
        border-bottom: 1px solid rgba(255,255,255, 0.7);
    }
    .webalive-main-menu li a {
        padding: 10px 20px;
		color:#fff;
    }
    .webalive-main-menu .menu-item-has-children:after {
        display: none;
    }
    .webalive-main-menu li .mb-toggle {
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        color: #333;
        text-align: center;
        line-height: 2.5;
        top: 2px;
        right: 0px;
    }
    .webalive-main-menu li ul {
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .webalive-main-menu li ul li {
        display: block;
        position: relative;
    }
    .webalive-main-menu > li ul.sub-menu {
        display: none;
        width: 100%;
        position: relative;
        top: 0;
        background-color: #fff;
        padding: 0px 0px 0px 10px;
    }
    .webalive-main-menu > li ul.sub-menu > li {
        border-bottom: 1px solid rgba(0,0,0,0.05);
    }
    .webalive-main-menu > li ul.sub-menu li:first-child {
        border-top: 1px solid rgba(0,0,0,0.05);
    }
    .webalive-main-menu > li ul.sub-menu > li:last-child {
        border: 0;
    }
    .webalive-main-menu > li ul.sub-menu > li:only-child {
        border-top: 1px solid rgba(0,0,0,0.05);
    }
    .webalive-main-menu li > .sub-menu li ul.sub-menu {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 0px 0px 0px 10px;
    }
    .webalive-main-menu .menu-item-has-children {
        padding-right: 0;
    }
    .webalive-main-menu li > .sub-menu li a {
        padding: 10px 0px;
    }

    .webalive-navbar-toggler::after {
        content: '';
        width: 24px;
        height: 2px;
        background-color:#ff424a;
        position: absolute;
        left: 0;
        top: 15px;
    }
    .webalive-navbar-toggler::after {
        content: '';
        width: 24px;
        height: 2px;
        background-color:#ff424a;
        position: absolute;
        left: 0;
        top: 15px;
    }
    .webalive-navbar-toggler i::after {
        content: '';
        width: 24px;
        height: 2px;
        background-color:#ff424a;
        position: absolute;
        left: 0;
        top: 7px;
    }
    .webalive-navbar-toggler::before {
        content: '';
        width: 24px;
        height: 2px;
        background-color:#ff424a;
        position: absolute;
        left: 0;
        top: 0;
    }
    .webalive-navbar-toggler i::before {
        visibility: hidden;
    }
    .webalive-navbar-toggler {
        display: block;
        right: 10px;
        top: 36px;
        width:34px;
        position: absolute;
        cursor: pointer;
        border: 0;
        color: #dadada;
        z-index: 9;
        width: 36px;
        padding: 2px;
    }
    .webalive-navbar-toggler,
    .webalive-navbar-toggler:before,
    .webalive-navbar-toggler:after,
    .webalive-navbar-toggler.js-hide-nav:before,
    .webalive-navbar-toggler.js-hide-nav:after {
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    .webalive-navbar-toggler.js-hide-nav:before {
        moz-transform: rotate(45deg) translateX(6px) translateY(6px);
        -webkit-transform: rotate(45deg) translateX(6px) translateY(6px);
        -o-transform: rotate(45deg) translateX(6px) translateY(6px);
        -ms-transform: rotate(45deg) translateX(6px) translateY(6px);
        transform: rotate(45deg) translateX(6px) translateY(6px);
    }
    .webalive-navbar-toggler.js-hide-nav:after {
        -moz-transform: rotate(-45deg) translateX(5px) translateY(-5px);
        -webkit-transform: rotate(-45deg) translateX(5px) translateY(-5px);
        -o-transform: rotate(-45deg) translateX(5px) translateY(-5px);
        -ms-transform: rotate(-45deg) translateX(5px) translateY(-5px);
        transform: rotate(-45deg) translateX(5px) translateY(-5px);
    }
    .webalive-navbar-toggler.js-hide-nav i:after {
        visibility: hidden;
    }
}

.get-in-touchbtn a{
    background-color: transparent;
    border:2px solid #615EFC;
    color:#4668df !important;
    border-radius: 1.5rem;
    font-weight:700;
    padding:7px 18px !important;
    position:relative;
	font-size:18px;
}
.get-in-touchbtn a:hover{
   background-color: #615EFC;
   border:2px solid #615EFC;
   color: #fff !important;
}
.get-in-touchbtn a:after{
   content:'';
   background: url(../img/arrow-btn.svg) no-repeat center;
   width: 24px;
   height: 25px;
   display: inline-block;
   vertical-align: middle;
   margin-left:10px;
}
.get-in-touchbtn a:hover:after{
	  background: url(../img/white-hover.svg) no-repeat center;
}
.webalive-header .container {
    max-width: 1240px;
}

.webalive-footer .container {
    max-width: 1290px;
    position: relative;
    z-index: 1;
}
.webalive-footer{
	position:relative;
	background-color: #615EFC;
	padding:90px 0px 22px 0px;
	overflow: hidden;
	min-height:500px;
}
.webalive-footer:after{
	content:'';
	background: url(../img/footer-bg-up.png) #615EFC no-repeat right;
    color: #fff;
    min-height:380px;
	position:absolute;
	background-size: contain;
	top:0;
	right:0;
	width:100%;
	height:500px;
}
.foo-colume-3 .get-in-touchbtn a {
    padding: 11px 18px !important;
}
.webalive-footer ul {
    padding:0;
    margin:0;
}
.webalive-footer ul li{
    list-style-type:none;
	margin-bottom:20px;
}
.webalive-footer ul li a {
    color:#fff;
    font-size:30px;
    font-weight:700;
	margin-bottom: 26px;
}
.webalive-footer .webalive-copyright-widget p{
    font-size:24px;
    color:#fff;
    font-weight:700;
}
.menu-footer-bottom-menu-container ul{
    display: flex;
    gap:28px;
}
.menu-footer-bottom-menu-container ul li a{
    font-size:24px;
    font-weight:300;
}
.menu-footer-bottom-menu-container ul li{
	margin-bottom:0;
}
.webalive-footer-widget{
	font-size:30px;
}
.technology-content{
	max-width:384px;
	color:#353535;
	margin-bottom:15px;
}
.foo-colume-3{
	padding-left:243px;
}
.webalive-footer-widget.widget_media_image{
	 margin-bottom:15px;
	 margin-top: -30px;
 }
.explore-btn .elementor-button{
	background:transparent !important;
	text-decoration:none !important;
}
/*.explore-white-hover .elementor-button:hover{
	background:#fff !important;
}
.explore-white-hover .elementor-button:hover span{
	color:#ff424a;
}
.explore-white-hover .elementor-button:hover path{
	stroke:#ff424a;
}
*/
.explore-btn .elementor-button-icon svg {
    width: auto;
    height: auto;
}
.top-banner-bg{
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-title-content span{
	color:#615EFC;
}
.expertise-colume-box .elementor-widget-container{
	    transition: background-color 0.5s ease, box-shadow 0.5s ease, transform 0.5s ease;
}
.expertise-colume-box .elementor-widget-container:hover{
	background-color:#fff !important;
}
.expertise-colume-box .elementor-widget-container:hover {
    text-decoration: none;
    transform: scale(1.05);
    background-color: #fff !importtant;
    box-shadow: 0px 2.767px 2.214px 0px rgba(138, 172, 223, 0.05), 0px 6.65px 5.32px 0px rgba(138, 172, 223, 0.07), 0px 12.522px 10.017px 0px rgba(138, 172, 223, 0.09), 0px 22.336px 17.869px 0px rgba(138, 172, 223, 0.10), 0px 41.778px 33.422px 0px rgba(138, 172, 223, 0.12), 0px 100px 80px 0px rgba(138, 172, 223, 0.17);
}

.container.footer-bottom-content {
    margin-top: -42px;
}
.webalive-site-content{
	min-height:430px;
}
.human-made-box p{
	font-size:18px !important;
}
.team-box-colume{
	position:relative;
}
.team-box-colume .explore-btn{
	position:absolute;
	top: 50%;
   left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
   opacity:0;
    transition: all .4s ease-in-out 0ms;
}
.team-box-colume .explore-btn:hover{
	opacity:100;
	transition: all .4s ease-in-out 0ms;
}
.team-box-colume .elementor-widget-image{
	position:relative;
	border-radius:10px;
}
.team-box-colume .elementor-widget-image:after{
   content:'';
   background: rgba(70, 104, 223, .7);
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   border-radius:10px;
   transition: all .4s ease-in-out 0ms;
   opacity:0;
}
.team-box-colume:hover .elementor-widget-image:after{
   opacity:100;
}
.expertise-colume-box .elementor-image-box-description{
   line-height:25px;
}

/*contact from start*/
.contact-from label{
	color:#fff;
	font-size:17px;
	margin:0;
}
.contact-from .two-group {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-gap: 0 25px;
}
.contact-from input{
	width:100%;
}
.contact-from .single-input span.require-text{
	color:#ff424a;
}
.contact-from select {
    color: #000;
	border: 2px solid #e4efff;
	border-radius: .5rem;
	padding: 3px 15px;
	height:48px;
	outline:0;
	width:100%;
}
.contact-from textarea{
	height:104px;
}
.contact-from .submit-btn input[type=submit]{
	max-width: 122px;
    padding: 13px 17px;
	background-color: transparent;
    border: .125rem solid #fff;
    border-radius: 1.5rem;
	font-size:18px;
	font-weight:700;
	color:#fff;
	cursor:pointer;
}
.contact-from .submit-btn input[type=submit]:hover{
	background-color:#fff;
	color:#615EFC;
}
.wpcf7-not-valid-tip {
	color:#fff;
	font-size:12px;
    font-style: italic;
    background-color: #FF424A;
    padding: 5px 15px;
    border-radius: 0.5rem;
    display: block;
	margin-top: 10px;
}
.inner-case-study-contact-form .wpcf7-not-valid-tip{
	color:#fff;
	font-size:12px;
    font-style: italic;
    background-color:transparent;
    padding: 0px 0px;
    border-radius: 0.5rem;
    display: block;
	margin-top:0px;
}
.wpcf7 form.invalid .wpcf7-response-output, 
.wpcf7 form.unaccepted .wpcf7-response-output, 
.wpcf7 form.payment-required .wpcf7-response-output {
    border-color: #fff;
	border-radius: 0.5rem;
	color:#fff;
}
/*contact from end*/
.list-button-content .elementor-icon-list-item a{
	border:2px solid #fff;
	border-radius: 9999px;
	padding:13px 20px !important;
	margin-bottom:15px;
}
.list-people-box h3{
	margin:0px;
}
.background-size-shape{
	background-size:20% !important;
}
.testimonial-content p{
	color:#fff;
}
.email-content a,
.email-content p{
	color:#fff;
}
.case-study-title span{
	position:relative;
}

.case-study-title span:after {
    background-color: currentColor;
    content: "";
    display: block;
    height: .25rem;
    margin-top: .625rem;
    width: 4rem;
}
.design-system-bg{
	background-size:20% !important;
}
section.error-404.not-found {
    text-align: center;
    margin-top: 115px;
}
